.crystal-image {
  width: 300px;
  height: 300px;
}

.well {
/*  width: 50%;
*/  background-color: #f1f1f1;
  border: none;
  border-radius: none;
  background-position: center;
  background: url("Assets/dark-triangles.png");
  height: 100vh;}




.well-lg {
/*  width: 50%;
*/  background-color: #f1f1f1;
  border: none;
  border-radius: inherit;
  background-position: center;
    background: url("Assets/dark-triangles.png");
    height: 100vh;

}


h1 {
  color: #ececec;
  font-family: 'Inconsolata', monospace;
    margin-top: 10px;
  margin-bottom: 30px;
}
h2 {

}

h3 {
	background-color: white;
	border-radius: 1px;
	padding: 15px 14px;
	font-family: 'Inconsolata', monospace;
  margin-top: 10px;
  margin-bottom: 10px;
}


.p-text {
  	color: #ececec;
	font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
/*  background-color: black;
*/
}
/*.container-img {
	margin: 10px 10px;

}*/

.panel, .panel-default {
  border-radius: 0px;
  border: none;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border: 0;
  border-top: 1px solid #eee;
}
#one:hover, #two:hover, #three:hover, #four:hover
/*#crystal:hover */{
	box-shadow: 1px;
		-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 20px #ccc;
  transform: scale(1.01);
}
#one:active, #two:active, #three:active, #four:active, #one:focus, #two:focus, #three:focus, #four:focus /*#crystal:active, #crystal:focus*/{
    -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc;  }

#crystal, img {
	height: calc(100vh / 2.5);
	margin: 32px 10px;
}

.footer {
    /* border: none; */
    /* height: 50px; */
    position: absolute;
    right: 30px;
    bottom: 0;
    left: 0;
    padding: 5px;
    /* background-color: #535d64; */
    /* opacity: .5; */
    text-align: right;
  }
